.vs/
.consulo/
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

Source/obj
Source/.vs
Source/.idea

Mod/rwconfigrc.json
TestTool
docs
tools

Works
# Added by code-review-graph
.code-review-graph/
